@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@200;300;400;600&display=swap');

:root {
  --gold: #c5a059; /* Mas soft na gold para mas elegant */
  --black: #111111;
  --soft-white: #fafafa;
  --grey: #888888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  color: var(--black);
  overflow-x: hidden;
  line-height: 1.6;
}

/* Custom Scrollbar para sa Pro feel */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: var(--black); }

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}